html, body {
    margin: 0;
    height: 100%;
}

button {
    padding: 0;
}

p {
    margin: 0;
    color: rgb(115, 115, 115);
}

p#bookTitle {
    margin: 0 10px;
    font-size: 20px;
}

p#bookAuthor {
    margin: 0 10px;
    flex-grow: 1;
}

p#bookPages {
    margin: 10px;
}

div#theContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

div#backgroundContainer {
    display: flex;
    background: rgb(245, 245, 245);
    padding: 15px;
    border-radius: 10px;
    margin: 50px 100px;
    width: 866px;
}

div.books{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

div#bookCards  {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(185, 185, 185);
    background: rgb(235, 235, 235);
    height: 200px;
    width: 200px;
} 

div#addBookContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    
}

button#readBtn {
    align-self: flex-end;
}

button#eraseBtn {
    align-self: flex-end;
    padding: 0 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    color: rgb(120, 120, 120);
    background: rgb(235, 235, 235);
}

button#eraseBtn:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
    background: rgb(215, 215, 215);
    color: rgb(100, 100, 100);
}

button#eraseBtn:active {
    box-shadow: 1px 1px 1px rgb(175, 175, 175) inset;
}

div#readCntr {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

p#readText {
    flex-grow: 1;
    margin: 0 10px;
    padding-bottom: 5px;
    
}

button#openFormBtn {
    margin-top: 1px;
    padding: 0 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(245, 245, 245);
    background: rgb(245, 245, 245);
    color: rgb(120, 120, 120);
    font-size: 48px;
}

button#openFormBtn:hover {
    background: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    color: rgb(100, 100, 100);
}

button#openFormBtn:active {
    box-shadow: 1px 1px 1px rgb(215, 215, 215) inset;
}

#formPopUpContainer {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
}

#formPopUp {
    background: rgb(235, 235, 235);
    box-shadow: 1px 1px 1px rgb(185, 185, 185);
    height: 200px;
    width: 200px;
    margin: 150px auto;
    padding: 15px;
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;
    bottom: 4px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #5fcf14;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  input:invalid {
      border-color: #900;
      background-color: #fdd;
  }

  input:focus:invalid {
      outline: none;
  }